extends ../layout

block content-body

  .vista.signup
    include ../partials/nav

    .vista-backdrop
      img.vista-backdrop-image(sizes='100vw', srcset=`${asset_path('img/signup/dorado-1024.jpg')} 1024w, ${asset_path('img/signup/dorado-1920.jpg')} 1920w`, src=`${asset_path('img/signup/dorado-1024.jpg')}`)

    .container

      .vista-logos
        .vista-logo-gamekeller
          span.icon.icon-gamekeller
        h1.vista-logo Account erstellen


      .signup-row.row
        .signup-copy.col-md-3.col-md-offset-1
          section
            img.img-pixelated.img-glow(src=asset_path('img/ranks/user.png'), width=32)
            h3 Werde zum User
            p Steige zum User auf und genieße mehr Rechte auf dem TeamSpeak.
          hr
          section
            h4 Trete Gruppen bei
            p Schließe dich mit Freunden zusammen oder finde neue für gemeinsamen Spaß!
          hr
          section
            h4 Sammle XP und erhöhe dein Level
            p Steige in unseren Ranglisten auf und arbeite auf Beförderungen hin!

        .col-md-6.col-md-offset-1
          if teamspeakName
            .panel.panel-dark.panel-lg
              .panel-heading
                h1.panel-title Hallo, #{teamspeakName}!
              .panel-body
                | Wir werden automatisch deine TeamSpeak-ID verknüpfen. Das spart dir einen Schritt bei der Bestätigung deines Accounts.

          .panel.panel-dark.panel-lg

            .panel-body

              if config.flags.registration
                +form(class='form-dark js-form')

                  .help-block.fixed Pflichtfelder sind mit einem * Markiert

                  .form-group
                    label(for='username') Benutzername *
                    input.form-control.js-input.js-username(type='text', id='username', name='username', placeholder='Username', autocorrect='off', autocapitalize='off', value=teamspeakName ? teamspeakName : null)

                  .form-group
                    label(for='email') E-Mail-Adresse *
                    input.form-control.js-input.js-email(type='email', id='email', name='email', placeholder='username@example.com')

                  .form-group
                    label(for='password') Passwort *
                    input.form-control.js-input.js-password(type='password', id='password', name='password', placeholder='Passwort', data-placeholder='••••••••••••••••••••••••')
                    .help-block.fixed
                      span 4-50 Zeichen, alles außer Leerzeichen
                      label.checkbox-inline.hide
                        input.js-toggle-password(type='checkbox', tabindex='-1')
                        | Passwort anzeigen

                  .form-group
                    label(for='confirmPassword') Passwort wiederholen *
                    input.form-control.js-input.js-confirm-password(type='password', id='confirmPassword', name='confirmPassword', placeholder='Passwort wiederholen', data-placeholder='••••••••••••••••••••••••')

                  .form-group
                    label.form-check-label(for='consent')
                      input.js-consent(type='checkbox', id='consent', name='consent')
                      |  Ich akzeptiere die
                      a.form-a(href='/privacy') Datenschutzerklärung
                      | *
                    .help-block.fixed
                      span Unter 16 Jahren (Unter 14 Jahren in Österreich), muss ein Erziehungsberechtigter der Datenschutzerklärung zustimmen

                  .form-group
                    button.btn.btn-primary.btn-pull-left(type='submit') Registrieren
                    button.btn.btn-link.btn-pull-right(type='reset') Zurücksetzen

              else
                p.
                  Registrationen werden zur Zeit nicht angenommen. Bitte versuche es zu einem späteren Zeitpunkt erneut.