extends ../layout

block content

  .row
    include _nav

    .col-md-9
      .row

        include ../partials/flash

        .account-column-left.col-md-6
          - var hasCustomAvatar = user.avatar.type === 'upload'
          .panel.panel-default
            .panel-heading
              h3.panel-title Avatar #{hasCustomAvatar ? 'ändern' : 'hochladen'}
            .panel-body
              +form(action=url('./avatar/upload'), enctype='multipart/form-data')

                .form-group
                  input(type='file', name='avatar', id='avatar', accept='.jpg,.jpeg,.png', required)

                .form-group
                  p JPEG oder PNG, unter 2 MB, im Idealfall 512x512 Pixel

                .form-group
                  button.btn.btn-primary.u-btn-inline(type='submit') Avatar #{hasCustomAvatar ? 'ändern' : 'hochladen'}
                  if hasCustomAvatar || user.avatar.type === 'gravatar'
                    button.btn.btn-default.btn-sm.u-btn-inline(type='submit', formaction=url('./avatar/delete'), formenctype='application/x-www-form-urlencoded', formnovalidate) Avatar entfernen
                  if user.avatar.type !== 'gravatar'
                    button.btn.btn-default.btn-sm.u-btn-inline(type='submit', formaction=url('./avatar/gravatar'), formenctype='application/x-www-form-urlencoded', formnovalidate) Gravatar benutzen

          .panel.panel-default
            .panel-heading
              h3.panel-title
                | E-Mail-Adresse
                span.small-pulled-right(class=user.emailVerified ? 'text-success' : 'text-danger panel-error-status')
                  if user.emailVerified
                    span.icon.icon-check.icon-inline
                    | Bestätigt
                  else
                    span.icon.icon-cross.icon-inline
                    | Unbestätigt

            .panel-body
              +form

                if !user.emailVerified
                  - var btnClasses = 'btn btn-default btn-xs btn-inline'
                  .alert.alert-danger.alert-panel
                    p
                      b Achtung!
                      |  Deine E-Mail-Adresse ist noch nicht bestätigt. Folge den Anweisungen in der E-Mail, die wir dir gesendet haben.
                    p
                      b.u-vam Keine E-Mail bekommen?&nbsp;
                      if user.emailVerification.resendTries <= 0
                        button.visually-disabled.js-tooltip(class=btnClasses, type='button', tabindex='-1', title=config.emailVerification.messages.resendThresholdDepleted) E-Mail erneut senden
                      else if Date.now() - user.emailVerification.sentAt <= config.emailVerification.resendCooldown * 1e3
                        button.visually-disabled.js-tooltip.js-resend-cooldown(class=btnClasses, type='button', tabindex='-1', data-placement='bottom', title=config.emailVerification.messages.resendOnCooldown, data-ready-at='#{user.emailVerification.sentAt + config.emailVerification.resendCooldown * 1e3}') E-Mail erneut senden
                      else
                        button(class=btnClasses, type='submit', formaction=url('./verify/email/resend')) E-Mail erneut senden


                .form-group.floating-label.floating-label-populated
                  label(for='email') Aktuelle E-Mail-Adresse
                  input.form-control(type='email', id='email', name='account[email]', value=user.email)

                .form-group
                  button.btn.btn-primary(type='submit') E-Mail-Adresse ändern

        .account-column-right.col-md-6

          .panel.panel-default
            .panel-heading
              h3.panel-title
                | Passwort
                span.small-pulled-right.text-muted
                  | geändert&nbsp;
                  +timestamp(user.passwordChangedAt)
            .panel-body
              +form

                .form-group.floating-label
                  label(for='currentPassword') Aktuelles Passwort
                  input.form-control(type='password', id='currentPassword', name='currentPassword', placeholder='Aktuelles Passwort', data-placeholder='••••••••••••••••••••••••')

                .form-group.floating-label
                  label(for='newPassword') Neues Passwort
                  input.form-control.js-password(type='password', id='newPassword', name='account[password]', placeholder='Neues Passwort', data-placeholder='••••••••••••••••••••••••')

                .form-group.floating-label
                  label(for='newPasswordConfirmation') Neues Passwort wiederholen
                  input.form-control.js-confirm-password(type='password', id='newPasswordConfirmation', name='confirmPassword', placeholder='Neues Passwort wiederholen', data-placeholder='••••••••••••••••••••••••')

                .form-group
                  button.btn.btn-primary.btn-pull-left(type='submit') Passwort ändern
                  a.btn.btn-default.btn-pull-right(href='/forgot') Passwort vergessen

          .panel.panel-default
            .panel-heading
              h3.panel-title
                | TeamSpeak-ID
                span.small-pulled-right(class=user.teamspeakLinked ? 'text-success' : 'text-danger panel-error-status')
                  if user.teamspeakLinked
                    span.icon.icon-check.icon-inline
                    | Verknüpft
                  else
                    span.icon.icon-cross.icon-inline
                    | Nicht verknüpft
            .panel-body
              if user.teamspeakLinked
                +form(type='horizontal')

                  dl
                    dt Verknüpfte TeamSpeak-Identität:
                    dd= user.teamspeakUid

                  button.btn.btn-default.btn-sm(type='submit', formaction='/account/teamspeak/unlink') Verknüpfung aufheben
              else
                .alert.alert-danger.alert-panel
                  p
                    b Achtung!
                    |  Du hast noch keine TeamSpeak-Identität mit deinem Account verknüpft!
                p Um deine Identität zu verknüpfen, betrete den Channel "#{config.teamspeak.link.channelName}" und folge den Anweisungen, die dir dort zugeschickt werden.
                a.btn.btn-primary(href='ts3server://' + config.teamspeak.url + '?port=9987&cid=' + config.teamspeak.link.channelId) Channel "#{config.teamspeak.link.channelName}" betreten

          a.text-dark.pull-right(href=url('./delete')) Account löschen