extends ../../layout

block content

  .row
    .col-md-12
      .panel.panel-default
        table.table.table-striped.table-hover.table-bordered.js-tablesort
          thead
            tr
              th(width='64px') Rang
              th Nutzername
              th Admin
              th(width='300px') TeamSpeak-ID
              th Aktive Zeit im Teamspeak
          tbody
            each user in users
              - var rankImage = user.getRankIcon()
              - var activeTime = user.teamspeakTracking && user.teamspeakTracking.activeTime ? user.teamspeakTracking.activeTime : 0
              tr
                td(data-sort=user.getRankValue(), title=user.getRankName(), class=user.rank ? 'help' : '')
                  if rankImage
                    img(src=asset(rankImage), alt=user.getRankName())
                  else
                    | -
                td
                  a(href=url(`./${user._id}`), title=user._id)= user.username
                td= user.admin ? 'Ja' : 'Nein'
                td(class=user.teamspeakUid ? 'js-select-input' : null, data-sort=user.teamspeakUid ? 1 : 0)
                  if user.teamspeakUid
                    input.admin-readonly(type='text', value=user.teamspeakUid, readonly)
                  else
                    | -
                td(data-sort=activeTime)= activeTime ? moment.duration(activeTime).humanize() : '-'

block footer
  script(nonce=nonce).
    $(document).on('click', '.js-select-input', function() {
      var input = $(this).find('input[readonly]').first()[0]
      input.setSelectionRange(0, input.value.length)
    })