extends layout

mixin friendsListItem(friend)
  a.userlist-item(class={ 'is-online': friend.teamspeakOnline }, href=`/${friend.username}`)
    if friend.teamspeakOnline
      .userlist-avatar
        != utils.avatarElement(friend, 48, 'userlist-avatar-image')
        if friend.teamspeakOnline
          span.userlist-avatar-indicator
    .userlist-body
      .userlist-name= friend.username
      .userlist-status-text
        if friend.teamspeakOnline
          | Online
        else if friend.teamspeakTracking && friend.teamspeakTracking.lastSeen
          | Offline #{moment(friend.teamspeakTracking.lastSeen).locale('de-since').fromNow()}
        else
          | Offline

block head
  style(nonce=nonce).


block content-body

  include partials/flash

  .vista
    .vista-backdrop
      img.vista-backdrop-image(sizes='100vw', srcset=`${asset_path('img/vistas/alps-1024.jpg')} 1024w, ${asset_path('img/vistas/alps-1600.jpg')} 1600w, ${asset_path('img/vistas/alps-2048.jpg')} 2048w`, src=`${asset_path('img/vistas/alps-1024.jpg')}`)

    .container

      .row
        .col-md-12
          .usercard
            .usercard-avatar
              != utils.avatarElement(user, 128, 'usercard-avatar-image')
            .usercard-body
              .usercard-meta
                h2.usercard-name!= user.username
                .usercard-current-rank
                  img.usercard-current-rank-image(src=asset_path(user.getRankIcon()), alt=user.getRankName())
                  | #{user.getRankDisplayText()}
              - var nextRank = user.getNextRank()
              if user.rank > 0 && nextRank
                if user.canRankUp()
                  .usercard-next-rank
                    +form(action='/account/rankup')
                      button.btn.btn-primary(type='submit') Zum #{utils.getRankName(nextRank)} aufsteigen!
                else
                  .usercard-next-rank
                    .usercard-next-rank-desc Nächster Rang
                    img.usercard-next-rank-image(src=asset_path(utils.getRankIcon(nextRank)), alt=utils.getRankName(nextRank))
                    != utils.getRankName(nextRank)
                    if user.level < config.xp.nextRank[nextRank].levelNeeded
                      p.usercard-next-rank-req ab Level #{config.xp.nextRank[nextRank].levelNeeded}
                    else
                      p.usercard-next-rank-req= moment(user.xp.lastPromotionAt).add(config.xp.nextRank[nextRank].lastPromotionHours, 'h').fromNow()

          +xpBar(user, true, 'xp-pull-up')


          .row
            .friends.col-md-12
              h3.friends-title
                | Freunde
                if user.friends.length
                  small.friends-title-count #{_.filter(friends, 'teamspeakOnline').length} / #{user.friends.length} online
              if user.friends.length
                .userlist.userlist-show-status
                  each friend in friends
                    +friendsListItem(friend)
              else
                .friends-none
                  p.friends-none-symbol :(
                  p.friends-none-text Noch keine Freunde. 
                  a.btn.btn-outline(href='/members') Füge ein paar Leute hinzu!