extends layout

mixin message
  if !hasFriends
    .panel.panel-default
      .panel-heading
        h3.panel-title Erste Schritte
      .panel-body
        p
          | Willkommen auf der Website von Gamekeller!
        p
          | Hier ein paar Vorschläge, die du jetzt auf der Website erledigen kannst:
          ul
            if !hasFriends
              li
                b Füge jemanden als Freund hinzu
                br
                | Dadurch wird dir zum Beispiel auf dieser Seite angezeigt, sobald er im Teamspeak online ist, vorausgesetzt er hat seinen Account mit seiner Teamspeak-Identität verknüpft.

mixin reddit
  .panel.panel-default.js-reddit
    .panel-heading
      h3.panel-title
        | Neues aus dem Subreddit
        small.small-pulled-right
          button.btn.btn-link.btn-title.panel-title-right-btn.js-reddit-reload(type='button', title='Aktualisieren')
            span.icon.icon-reload

    .panel-body
      noscript: style .js-reddit-error { display: block !important; }
      p.snuggle-down.text-danger.js-reddit-error.hide Beiträge konnten nicht geladen werden.
      p.snuggle-down.text-muted.js-reddit-loading Laden...
      p.js-reddit-info.hide
        | Die drei neusten Beiträge aus&nbsp;
        a(href='http://www.reddit.com/r/gamekeller') /r/gamekeller
        | .
    ul.panel-list.js-reddit-target.hide

mixin friendsOnTeamspeak
  .panel.panel-default
    .panel-heading
      h3.panel-title Freunde jetzt online im Teamspeak
    .panel-body
      if friendsOnTeamspeak.length
        p Es #{(friendsOnTeamspeak.length > 1 ? 'sind ' : 'ist ') + friendsOnTeamspeak.length} deiner Freunde jetzt im Teamspeak online.
      else
        p Keiner deiner Freunde ist momentan auf dem Teamspeak online.
    if friendsOnTeamspeak.length
      ul.panel-list
        each friend in friendsOnTeamspeak
          each con in friend.teamspeakConnections
            li.panel-list-item
              if friend.rank
                img.img-flair(src=asset_path(friend.getRankIcon()))
                | &nbsp;
              a(href='/#{friend.username}') #{friend.username}
              |  im Channel #{con.currentChannel.name} als #{con.nickname}
              a.pull-right.hidden-sm.hidden-xs(href='ts3server://#{config.teamspeak.url}?port=9987&cid=#{con.currentChannel.id}') Hinterherjoinen

block content

  - var hasFriends = user.friends.length

  include partials/flash

  h1 Home

  .row
    .col-md-5.column
      if hasFriends
        +message
      +reddit

    .col-md-7.column
      if hasFriends
        +friendsOnTeamspeak
      else
        +message