extends index.jade

block support

  .row
    .col-md-8.col-md-push-2
      .support-article-breadcrumbs
        a.support-article-breadcrumb(href=url('../'))
          svg.support-article-breadcrumb-icon(viewBox='0 0 88 77')
            path(d='M5 .362c-2.735 0-5 2.265-5 5v32c0 2.736 2.265 5 5 5h4v8a2 2 0 0 0 3.281 1.531l11.438-9.53H30v19c0 2.735 2.265 5 5 5h29.281l11.438 9.53A2 2 0 0 0 79 74.363v-8h4c2.735 0 5-2.265 5-5v-32c0-2.736-2.265-5-5-5H54v-19c0-2.736-2.265-5-5-5H5zm0 4h44c.589 0 1 .412 1 1v32c0 .589-.411 1-1 1H23a2 2 0 0 0-1.281.469L13 46.112v-5.75a2 2 0 0 0-2-2H5c-.589 0-1-.411-1-1v-32c0-.588.411-1 1-1zm22 4c-1.75.007-3.552.446-5.031 1.563-1.48 1.116-2.546 2.882-2.938 5.062a2.001 2.001 0 0 0 3.938.719c.244-1.362.75-2.099 1.406-2.594.656-.495 1.552-.745 2.625-.75 1.213-.005 2.302.315 2.969.813.666.497 1.031 1.06 1.031 2.187 0 .908-.202 1.258-.5 1.625s-.798.717-1.5 1.125c-.702.409-1.592.835-2.438 1.625-.845.79-1.562 2.144-1.562 3.625a2 2 0 1 0 4 0c0-.44.033-.426.313-.687.279-.261.89-.63 1.687-1.094.798-.464 1.798-1.044 2.625-2.063C34.452 18.5 35 17.043 35 15.362c0-2.26-1.072-4.247-2.625-5.406C30.822 8.797 28.911 8.354 27 8.362zm0 20a3 3 0 1 0 0 6 3 3 0 0 0 0-6zm27 0h29c.589 0 1 .412 1 1v32c0 .589-.412 1-1 1h-6a2 2 0 0 0-2 2v5.688l-8.719-7.25A2 2 0 0 0 65 62.362H35c-.588 0-1-.411-1-1v-19h15c2.735 0 5-2.264 5-5v-9zm4.781 3.969A2 2 0 0 0 57 34.362v13a2 2 0 1 0 4 0v-13a2 2 0 0 0-2.219-2.031zM59 52.362a3 3 0 1 0 0 6 3 3 0 0 0 0-6z')
          | Häufig gestellte Fragen
      h1.support-article-title= articles[0].category

      .support-article-list
        each article in articles
          a.support-article-list-item(href=url('../#{article.slug}'))= article.title

  .support-team.support-team-horizontal
    .support-team-preface
      h3.support-team-heading.project-box-heading Unser Team
      p Du findest uns auch regelmäßig auf unserem TeamSpeak-Server. Zögere nicht uns zu kontaktieren—wir helfen gerne!
    .support-team
      .support-team-list
        each member in team
          a.support-team-item(href='/#{member.username}')
            != utils.avatarElement(member, 80, 'support-team-avatar')
            .support-team-desc
              .support-team-name #{member.username}
              .support-team-rank #{config.ranks[member.rank]}
            .support-team-status
              if member.teamspeakLinked
                if member.teamspeakOnline
                  span.status-indicator.status-indicator-active
                  span.text-success Online
                else
                  span Offline