extends index

block support

  .row
    .col-md-8.col-md-push-2
      .support-article-breadcrumbs
        a.support-article-breadcrumb(href=url('../')) &larr; Support
      h1.support-article-title= articles[0].category

      .support-article-list
        each article in articles
          a.support-article-list-item(href=url(`../${article.slug}`))= article.title

  .support-team.support-team-horizontal
    .support-team-preface
      h3.support-team-heading.vista-box-heading Unser Team
      p Du findest uns auch regelmäßig auf unserem TeamSpeak-Server. Zögere nicht uns zu kontaktieren—wir helfen gerne!
    .support-team
      .support-team-list
        each member in team
          a.support-team-item(href=`/${member.username}`)
            != utils.avatarElement(member, 80, 'support-team-avatar')
            .support-team-desc
              .support-team-name #{member.username}
              .support-team-rank #{config.ranks[member.rank]}
            .support-team-status
              if member.teamspeakLinked
                if member.teamspeakOnline
                  span.status-indicator.status-indicator-active
                  span.text-success Online
                else
                  span Offline